@mixin gradient {
    position: relative;
    overflow: hidden;
    &:after {
        position: absolute;
        content: "";
        width: 35%;
        height: 190%;
        left: -83px;
        top: -150px;
        overflow: hidden;
        background: linear-gradient(198.43deg, #007397 4.17%, rgba(0, 115, 151, 0.0001) 87.5%);
        transform: rotate(20deg);
    }
}