// Reset
@import 'src/style-config/nullstyle';

// Fonts
@import 'src/style-config/fonts';

// Vars
@import 'src/style-config/vars.scss';

// Components includes
@import 'src/components/header/header';
@import 'src/components/gradient/gradient';
@import 'src/components/button/button';
@import 'src/components/title/title';
@import 'src/components/footer/footer';

// Adaptive breakpoints
.container {
    max-width: $mw + px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: $md1) {max-width: 970px}
    @media (max-width: $md2) {max-width: 750px}
    @media (max-width: $md3) {max-width: none; padding: 0 10px}
}
// Main styles
body {
    font-family: $fontFamily;
    &.lock {overflow: hidden}
}

// Main section

.main {
    margin: 0 0 100px 0;
    @media (max-width: $md2) {
        margin: 0 0 80px 0;
    }
    @media (max-width: $md3) {
        margin: 50px 0 50px 0;
    }
    &__image-block {
        margin: 0 0 40px 0;
        @media (max-width: $md2) {
            margin: 0 0 25px 0;
        }
    }
    &__bottom-block {}
}

.bottom-block {
    text-align: center;
    &__text {
        font-weight: 300;
        font-size: 20px;
        line-height: 36px;
        color: #646667;
        max-width: 970px;
        margin: 0 auto;
        @media (max-width: $md2) {
            font-size: 16px;
            line-height: 28px;
        }
    }
    &__button {
        margin: 40px 0 0 0;
        @media (max-width: $md2) {
            margin: 25px 0 0 0;
        }
    }
}

.image-block {
    position: relative;
    height: 411px;
    &__title {
        font-family: "PT Serif", serif;
        position: absolute;
        bottom: 80px;
        right: 40px;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 1px;
        text-align: right;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0 3px 1px rgba(0, 0, 0, 0.6);
        z-index: 5;
        max-width: 750px;
        @media (max-width: $md1) {
            max-width: 650px;
            font-size: 27px;
            right: 18px;
        }
        @media (max-width: $md2) {
            max-width: 500px;
            font-size: 22px;
            line-height: 30px;
            right: 14px;
        }
        @media (max-width: $md3) {
            font-size: 18px;
            max-width: none;
            text-align: center;
            padding: 0 20px;
            bottom: 55px;
        }
    }
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        @include gradient;
    }
    @media (max-width: $md2) {
        height: 280px;
    }
    @media (max-width: $md3) {
        height: 250px;
    }
}

// Investor section
.investor {
    margin: 0 0 100px 0;
    @media (max-width: $md2) {
        margin: 0 0 60px 0;
    }
    @media (max-width: $md3) {
        margin: 0 0 50px 0;
    }
    &__title {
        margin: 0 0 50px 0;
        @media (max-width: $md3) {
            margin: 0 0 20px 0;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 20px;
        line-height: 36px;
        color: #646667;
        max-width: 670px;
        margin: 0 0 40px 0;
        @media (max-width: $md3) {
            font-size: 16px;
            line-height: 24px;
            margin: 0 0 20px 0;
        }
    }
    &__stats {}
    &__button {
        min-width: 270px;
    }
}

.stats-investor {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px 30px -5px;
    @media (max-width: $md3) {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -5px 0 -5px;
    }
    &__column {
        padding: 0 5px;
        flex: 0 1 auto;
        margin: 0 0 25px 0;
        @media (max-width: $md3) {
            flex: 0 0 33.333%;
        }
        @media (max-width: $md4) {
            flex: 0 0 50%;
        }
    }
    &__item {}
}

.item-stats {
    text-align: center;
    &__value {
        font-family: 'PT Serif', sans-serif;
        font-size: 54px;
        text-transform: uppercase;
        color: #007397;
        margin: 0 0 8px 0;
        @media (max-width: $md2) {
            margin: 0 0 5px 0;
            font-size: 40px;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 32px;
        color: #AEC3D4;
        @media (max-width: $md2) {
            font-size: 14px;
        }
    }
}

// News & Media
.news-media {
    margin: 0 0 70px 0;
    @media (max-width: $md2) {
        margin: 0 0 40px 0;
    }
    @media (max-width: $md3) {
        margin: 0 0 20px 0;
    }
    &__header {}
    &__body {}
    &__item {}
}

.header-news-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;
    @media (max-width: $md3) {
        display: block;
        margin: 0 0 20px 0;
    }
    &__title {
        @media (max-width: $md3) {
            margin: 0 0 20px 0;
        }
    }
    &__nav {}
}

.nav-news-media {
    display: flex;
    @media (max-width: $md3) {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        margin: 0 0 0 100px;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #D3CFCE;
        cursor: pointer;
        @media (max-width: $md2) {
            margin: 0 0 0 50px;
        }
        @media (max-width: $md3) {
            margin: 0 0 10px 0;
            text-align: left;
        }
        &:first-child { margin-left: 0 }
        &.active {
            color: #007397;
        }
    }
}

.item-news-media {
    display: flex;
    margin: 0 -15px;
    @media (max-width: $md1) {
        margin: 0 -10px;
    }
    @media (max-width: $md2) {
        flex-wrap: wrap;
    }
    &__column {
        flex: 0 0 33.333%;
        padding: 0 15px;
        margin: 0 0 30px 0;
        @media (max-width: $md1) {
            padding: 0 10px;
        }
        @media (max-width: $md2) {
            flex: 0 0 50%;
        }
        @media (max-width: $md3) {
            flex: 0 0 100%;
        }
    }
    &__content {}
}

.content-news-media {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__header {}
    &__text {
        flex: 1 1 auto;
        font-size: 16px;
        line-height: 32px;
        color: #646667;
        padding: 28px 0;
    }
    &__more {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #007397;
        &:hover { text-decoration: underline }
    }
}

.header-content-news-media {
    height: 370px;
    position: relative;
    @media (max-width: $md3) {
        height: 250px;
    }
    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 25px 30px;
        @media (max-width: $md1) {
            padding: 25px 20px;
        }
    }
    &__image {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include gradient;
        &:after {
            width: 98%;
        }
    }
}

.content-news-media-values {
    &__category {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        letter-spacing: 0.75px;
        &:hover { text-decoration: underline }
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0 30px 70px 30px;
        &:hover { text-decoration: underline }
        @media (max-width: $md1) {
            font-size: 18px;
            line-height: 24px;
            padding: 0 20px 50px 20px;
        }
    }
}

// Country
.country {
    &__title {
        margin: 0 0 50px 0;
        @media (max-width: $md2) {
            margin: 0 0 15px 0;
        }
        @media (max-width: $md3) {
            margin: 0 0 10px 0;
        }
    }
    &__map {
        height: 448px;
        @media (max-width: $md2) {
            height: 350px;
        }
        @media (max-width: $md3) {
            height: 250px;
        }
    }
}