<header class="header">
    <div class="container">
        <div class="header__body">
            <div class="header__logo">
                @@include('logo/logo.html')
            </div>
            <nav class="header__menu">
                <div class="header__menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="header__menu-list">
                    <li><a class="header__link" href="#">Our Story</a></li>
                    <li><a class="header__link" href="#">Blog</a></li>
                    <li><a class="header__link" href="#">Contact</a></li>
                    <li><a class="header__link" href="#">Pricing</a></li>
                    <li class="header__menu-buttons">
                        <a class="header__link button" href="#">Log in</a>
                        <a class="header__link button button--dark" href="#">Try for free</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>