<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__column">
                <div class="footer__logo">
                    @@include('logo/logo.html')
                </div>
                <div class="footer__text">
                    We are the leading architect and interior design firm in the world.
                </div>
                <div class="footer__social">
                    <a href="#" class="footer__social-link">
                        <img src="img/icons/social/facebook.svg" alt="">
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="img/icons/social/twitter.svg" alt="">
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="img/icons/social/in.svg" alt="">
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="img/icons/social/instagram.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="footer__column">
                <div class="footer__category">Pages</div>
                <a href="#" class="footer__link">Style Guide</a>
                <a href="#" class="footer__link">Protected</a>
                <a href="#" class="footer__link">Licences</a>
                <a href="#" class="footer__link">Changelog</a>
                <a href="#" class="footer__link">404</a>
            </div>
            <div class="footer__column">
                <div class="footer__category">Explore</div>
                <a href="#" class="footer__link">About Us</a>
                <a href="#" class="footer__link">Recent Blog</a>
                <a href="#" class="footer__link">Pricing Plan</a>
                <a href="#" class="footer__link">Our Projects</a>
                <a href="#" class="footer__link">Contact Us</a>
            </div>
            <div class="footer__column">
                <div class="footer__category">Contact</div>
                <div class="footer__link">53, East Birchwood Ave. Brooklyn, New York 11201, USA.</div>
                <a href="mailto:contact@interno.com" class="footer__link">contact@interno.com</a>
                <div class="footer__link">(123) 456 - 7890</div>
            </div>
        </div>
    </div>
</footer>