<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__column">
                <div class="footer__logo">
                    @@include('logo/logo.html')
                </div>
                <div class="footer__address">
                    <p>Address:</p>
                    <p>Level 1, 12 Nikola Tesla street, Niš, Serbia</p>
                </div>
                <div class="footer__contact">
                    <p>Contact:</p>
                    <p>1800 123 4567</p>
                    <p>info@startico.io</p>
                </div>
            </div>
            <div class="footer__column">
                <div class="footer__category">Pages</div>
                <a href="#" class="footer__link">Home</a>
                <a href="#" class="footer__link">About</a>
                <a href="#" class="footer__link">Contacts</a>
                <a href="#" class="footer__link">Blog</a>
                <a href="#" class="footer__link">Pricing</a>
                <a href="#" class="footer__link">Log in</a>
                <a href="#" class="footer__link">Sign up</a>
            </div>
            <div class="footer__column">
                <div class="footer__category">CMS pages</div>
                <a href="#" class="footer__link">Blog Post</a>
                <a href="#" class="footer__link">Blog Categories</a>
            </div>
            <div class="footer__column">
                <div class="footer__category">Utility pages</div>
                <a href="#" class="footer__link">Style guide</a>
                <a href="#" class="footer__link">Licenses</a>
                <a href="#" class="footer__link">Changelog</a>
                <a href="#" class="footer__link">404</a>
                <a href="#" class="footer__link">Password</a>
            </div>
        </div>
        <div class="footer__copyright copyright">
            <p class="copyright__text">© Startico by Minima Square. Powered by Webflow.</p>
            <ul class="copyright__links">
                <li><a class="copyright__link" href="#"><img src="img/social/in.svg" alt=""></a></li>
                <li><a class="copyright__link" href="#"><img src="img/social/twitter.svg" alt=""></a></li>
                <li><a class="copyright__link" href="#"><img src="img/social/facebook.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>