// Global settings
@import '@/style-config/global.scss';

// Colors
$primaryDark: #162E3C;
$grey: #49616E;
$blue: #3179b4;
$lightGreen: #DDF0A7;
$white: #fff;
$pricingDark: #223E4E;
$pricingLight: #D1E39E;
$lightGrey: #E5E7EB;

// Mixins
@mixin Fraunces($color: $primaryDark, $size: 40, $weight: 400) {
    font-family: 'Fraunces', serif;
    color: $color;
    font-size: $size + px;
    font-weight: $weight;
    @media (max-width: $md1) {
        font-size: $size - 3 + px;
    }
    @media (max-width: $md2) {
        font-size: $size - 6 + px;
    }
    @media (max-width: $md3) {
        font-size: $size - 9 + px;
    }
    @media (max-width: $md4) {
        font-size: $size - 12 + px;
    }
}

// Include components
@import '@/components/header/header.scss';
@import '@/components/logo/logo.scss';
@import '@/components/button/button.scss';
@import '@/components/button-circle/button-circle.scss';
@import '@/components/footer/footer.scss';
@import '@/components/tag/tag.scss';
@import '@/components/image-label/image-label.scss';

body {
    font-family: 'Space Grogesk', sans-serif;

    &.lock {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
}

.container {
    max-width: $mw + px;
    margin: 0 auto;
    @media (max-width: $md1) {
        max-width: 970px
    }
    @media (max-width: $md2) {
        max-width: 750px
    }
    @media (max-width: $md3) {
        max-width: none;
        padding: 0 10px
    }
}

// Main styles

// =========================
// Head Start
// =========================
.headstart {
    margin: 0 0 130px 0;
    font-size: clamp(0.6rem, 2vw, 1rem);

    display: grid;
    grid-template-rows: 2fr 1fr 1fr;

    @media (max-width: $md3) {
        grid-template-rows: 1fr 150px 150px;
        margin: 0 0 80px 0;
    }
    @media (max-width: $md4) {
        grid-template-rows: 1fr 100px 100px;
    }
    &__background {
        background-color: $primaryDark;
        grid-row: 1 / 3;
        grid-column: 1 / 1;
    }
    &__content {
        text-align: center;
        padding: 100px 10px;

        grid-row: 1 / 2;
        grid-column: 1 / 1;
        justify-self: center;
        align-self: center;

        @media (max-width: $md3) {
            padding: 25px 10px;
        }
    }
    &__title {
        @include Fraunces($white, 56, 700);
        margin: 0 0 25px 0;
        max-width: 713px;
    }
    &__text {
        font-size: 20px;
        line-height: 30px;
        color: $white;
        margin: 0 0 40px 0;
        max-width: 740px;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        margin: 0 0 55px 0;
        .button {
            padding: 14px 26px;
            font-size: 15px;
            font-weight: 700;
            @media (max-width: $md3) {
                font-size: 12px;
            }
        }
    }
    &__companies {
        display: flex;
        justify-content: center;
        gap: 40px;

        @media (max-width: $md3) {
            flex-wrap: wrap;
            .headstart__company {
                flex: 0 0 40%;
            }
        }
    }
    &__image-block {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        .container { height: 100% }
    }
    &__image-body {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        @media (max-width: $md3) {
            background-size: 170% auto !important;
        }
    }
    &__button {
        font-size: 1em;
        font-weight: 700;
        padding: 1em 3em;
    }
}

// =========================
// =======  Speed  =========
// =========================
.speed {
    margin-bottom: 8em;

    @media (max-width: $md3) {
        margin-bottom: 4em;
    }

    &__body {
        display: flex;
        gap: 80px;

        @media (max-width: $md3) {
            flex-direction: column;
            gap: 50px;
        }
    }
    &__body > * {
        flex: 1 0;
    }
    &__image {
        position: relative;
        align-self: center;
        aspect-ratio: 1;

        @media (max-width: $md3) {
            width: 80%;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__tag {
        margin: 0 0 20px 0;
    }
    &__title {
        @include Fraunces();
        margin: 0 0 25px 0;
    }
    &__text {
        font-size: 18px;
        line-height: 27px;
        margin: 0 0 20px 0;
        color: $grey;
    }
    &__image-label {
        position: absolute;
        min-width: 70%;
        top: 71%;
        left: 38%;

        @media (max-width: $md4) {
            top: 65%;
        }
    }
}


// ==================================
// =========  Building  =============
// ==================================

.building {
    margin-bottom: 8em;

    @media (max-width: $md3) {
        margin-bottom: 4em;
    }

    &__body {
        padding: 7.9em 4em;
        background-color: $lightGreen;
        border-radius: 3rem;
        text-align: center;

        @media (max-width: $md2) {
            padding: 3em 2em;
        }
        @media (max-width: $md4) {
            padding: 1.5em 1em;
        }
    }
    &__header {
        max-width: 745px;
        margin: 0 auto;
    }
    &__title {
        @include Fraunces();
        line-height: 1.2em;
        margin-bottom: 1.7em;

        @media (max-width: $md4) {
            font-size: 1.8rem;
            margin-bottom: 1em;
        }
    }
    &__text {
        font-size: 1.125rem;
        line-height: 1.7rem;
        margin-bottom: 3.75em;


        @media (max-width: $md4) {
            margin-bottom: 1.5rem;
        }
    }
    &__row {
        display: flex;
        gap: 2em;
        margin-bottom: 3em;

        @media (max-width: $md2) {
            flex-direction: column;
        }
        @media (max-width: $md4) {
            margin-bottom: 1.5em;
        }
    }
    &__row > * {
        width: 100%;
    }
    &__buttons {
        display: inline-flex;
        font-weight: 700;

        @media (max-width: $md4) {
            .button {
                font-size: 0.7rem;
            }
        }
    }
}
.building-item {
    padding: 42px 42px 30px 42px;
    color: $white;
    background-color: $primaryDark;
    border-radius: 1.5em;

    @media (max-width: $md2) {
        padding: 1em;
    }
    &__image {
        max-width: 100px;
        aspect-ratio: 1;
        margin-bottom: 1em;
    }
    &__title {
        font-family: 'Fraunces', serif;
        font-size: 1.25em;
        line-height: 1.75rem;
        margin-bottom: 1rem;
    }
    &__text {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

// ==================================
// =========  Efficient  ============
// ==================================
.efficient {
    margin-bottom: 8em;

    @media (max-width: $md3) {
        margin-bottom: 4em;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.5em;

        @media (max-width: $md3) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        max-width: 575px;
    }
    &__tag {
        margin-bottom: 1rem;
    }
    &__title {
        @include Fraunces();
        margin-bottom: 1.7rem;
    }
    &__text {
        color: $grey;

        font-size: 1.125rem;
        line-height: 1.7rem;
        margin-bottom: 2.4rem;
    }
    &__buttons {
        display: flex;
    }
    &__content-row {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: $md4) {
            flex-direction: column;
            & > * { 
                align-items: center;
                text-align: center;
            }
        }
    }
    &__image {
        position: relative;
        flex: 0 0 47%;
        aspect-ratio: 1;

        @media (max-width: $md3) {
            width: 80%;
        }
    }
    &__image-label {
        position: absolute;
        width: 70%;
        top: 71%;
        left: -8%;

        @media (max-width: $md4) {
            top: 65%;
            width: 90%;
        }
    }
}
.efficient-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__icon {
        display: grid;
        place-content: center;

        border-radius: 1em;
        background-color: $lightGreen;
        width: 3.5em;
        height: 3.5em;
    }
    &__title {}
    &__text {
        color: $grey;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

// ==================================
// =========  Feedback  =============
// ==================================

.feedback {
    background-color: $primaryDark;
    padding: 8em 0;
    font-size: clamp(0.3rem, 2vw, 1rem);
    margin-bottom: 8em;

    &__header {
        text-align: center;
        margin: 0 auto;
        max-width: 680px;
    }
    &__title {
        @include Fraunces($color: $white, $size: 48);
        line-height: 1.2em;
        margin-bottom: 0.5em;
    }
    &__text {
        color: $white;
        font-size: 1rem;
    }
    &__content {
        margin-top: 5.6em;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;

        @media (max-width: $md3) {
            grid-template-columns: 1fr;
        }
    }
}

.fb-card {
    background-color: $white;
    border-radius: 2em;
    padding: 2em;

    display: flex;
    flex-direction: column;

    &__rating {
        height: 20px;
        width: 100px;
        background: url('../img/icons/star.svg') left repeat-x;

        margin-bottom: 1.7em;
    }
    &__text {
        color: $grey;
        font-size: 1.125rem;
        line-height: 1.7rem;

        flex: 1 1 auto;

        margin-bottom: 1.375em;
    }
}

.user {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;

    font-size: 1rem;
    line-height: 1.5rem;

    &__image {
        grid-row: 1 / 3;
        grid-column: 1 / 2;

        img {
            display: block;
        }
    }
    &__name {
        color: $primaryDark;

        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    &__info {
        color: $grey;

        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}

// ==================================
// =========  Pricing  ==============
// ==================================

.pricing {
    margin-bottom: 8em;
    font-size: clamp(0.6rem, 2vw, 1rem);

    &__header {
        text-align: center;
    }
    &__tag {
        font-size: 1rem;
    }
    &__title {
        @include Fraunces($size: 48);
        line-height: 1.2em;
        margin-bottom: 0.5em;
    }
    &__text {
        color: $grey;
        line-height: 1.7rem;
        font-size: 1rem;
    }
    &__content {
        margin-top: 5em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;

        @media (max-width: $md2) {
            grid-template-columns: 1fr;
        }
    }
}

.pricing-card {
    color: $white;
    background-color: $primaryDark;
    border-radius: 2em;
    padding: 2em;
    margin-top: 3em;

    display: flex;
    flex-direction: column;

    transition: 0.3s;

    @media (max-width: $md2) {
        margin: 0;
    }

    &__icon {
        width: 3em;
        height: 3em;
        background-image: url('../img/icons/card-light.svg');
        background-size: contain;
        align-self: flex-end;
    }
    &__header {
        padding: 2em 0;
        margin-bottom: 2em;
        border-bottom: 1px solid $pricingDark;
    }
    &__title {
        font-family: 'Fraunces', serif;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    &__pricing {
        font-family: 'Fraunces', serif;
        display: flex;
        align-items: flex-end;
    }
    &__cost {
        font-size: 3.5rem;
        line-height: 4.2rem;
    }
    &__period {
        font-size: 2rem;
        line-height: 2.6rem;
    }
    &__includes {
        font-size: 1rem;
        margin-bottom: 1.5em;
    }
    &__list {
        flex: 1 1 auto;
        font-size: 1rem;

        padding-bottom: 2em;

        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    &__option {
        line-height: 1.5rem;
        position: relative;
        padding-left: 2em;

        &:before {
            position: absolute;
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            top: 0;
            left: 0;
            //transform: translateY(-50%);
            border-radius: 50%;
            background-color: $lightGreen;
        }
    }

    &--active {
        margin-top: 0;
        background-color: $lightGreen;
        color: $primaryDark;
        li:before { background-color: $primaryDark }
        header { border-bottom-color: $pricingLight }
        .pricing-card__icon {
            background-image: url('../img/icons/card-dark.svg');
        }
    }
}

// ==================================
// ============  Blogs  =============
// ==================================

.blogs {
    text-align: center;
    margin-bottom: 8em;
    font-size: clamp(0.6rem, 2vw, 1rem);

    &__header {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }
    &__tag {
        font-size: 1rem;
        margin-bottom: 1em;
    }
    &__title {
        @include Fraunces($size: 48, $weight: 700);
        line-height: 1.2em;
        margin-bottom: 0.5em;
    }
    &__text {
        font-size: 1rem;
    }

    &__content {
        margin-top: 5em;

        display: flex;
        justify-content: center;
        gap: 2em;
        & > * { width: 100%; max-width: 600px }

        margin-bottom: 5em;

        @media (max-width: $md2) {
            flex-direction: column;
            & > * { max-width: none }
        }
    }
}

.blog {
    display: flex;
    flex-direction: column;

    &__image {
        align-self: stretch;
        aspect-ratio: calc(400 / 300);

        @media (max-width: $md2) {
            aspect-ratio: 2;
            background-size: 150% !important;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
        border: 1px solid $lightGrey;
        border-top: none;
        border-radius: 0 0 2em 2em;
        flex: 1 1 auto;
    }
    &__info {
        display: flex;
        color: $primaryDark;
        font-size: 0.875rem;
        line-height: 1.5em;
        margin-bottom: 1.5em;
        & > * { padding: 9px 17px }
    }
    &__category {
        border: 1px solid $lightGrey;
        border-radius: 2em;
    }
    &__title {
        text-align: center;
        @include Fraunces($size: 24, $weight: 700);
        line-height: 1.4em;
        margin-bottom: 5px;
    }
    &__text {
        text-align: center;
        color: $grey;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1.5em;
        flex: 1 1 auto;
    }
    &__link {
        position: relative;
        color: $primaryDark;
        font-size: 1rem;
        line-height: 2rem;
        padding-left: 2.5rem;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: $primaryDark url('../img/icons/arrow-up.svg') center no-repeat;
            transition: 0.2s;
        }
        &:hover:before {
            background-position: 60% 40%;
        }
    }
}

// ==================================
// =========  Subscribe  ============
// ==================================

.sub {
    font-size: clamp(0.6rem, 2vw, 1rem);

    display: grid;
    grid-template-rows: repeat(2, 1fr);

    &__background {
        background-color: $primaryDark;
        grid-row: 2 / 3;
        grid-column: 1 / 1;
    }
    .wrapper {
        grid-row: 1 / 3;
        grid-column: 1 / 1;
    }
    &__body {
        background-color: $lightGreen;
        border-radius: 3em;
        padding: 6em 0;
    }
    &__content {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        padding: 0 10px;
    }
    &__title {
        @include Fraunces();
        line-height: 1.2em;
        margin-bottom: 0.67em;
    }
    &__text {
        color: $primaryDark;
        font-size: 1.125rem;
        line-height: 1.7rem;
    }
    &__form {
        display: flex;
        gap: 1rem;
        max-width: 500px;
        margin: 2em auto 1.125em auto;

        @media (max-width: $md4) {
            flex-direction: column;
            align-items: stretch;
        }
    }
    &__input {
        flex: 1 0 auto;
        border-radius: 1.5em;
        border: none;
        padding: 0.5em 1.2em 0.5em 2.3em;
        font-weight: 700;
        font-size: 1.125rem;
        width: 0;
        &:focus { outline: none }

        @media (max-width: $md4) {
            width: 100%;
        }
    }
    &__terms {
        color: $primaryDark;
        font-size: 0.7rem;
        line-height: 1.125rem;
    }
}