.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 64px;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
    padding: 0.5em 1.2em;
    border: 2px solid $primaryDark;
    color: $primaryDark;
    letter-spacing: 1px;
    &:not(.button--arrow):not(.button--dark):not(.button--light):hover {
        background-color: #c7c6c6;
    }
    &--arrow {
        padding-right: 30px !important;
        background-position: 92% 50%;
        background-repeat: no-repeat;
        background-image: url('../img/icons/arrow-dark.svg');
        &:hover {
            background-position-x: 95%;
        }
        &.button--dark {
            background-image: url('../img/icons/arrow-light.svg');
        }
        &.button--light {
            background-image: url('../img/icons/arrow-dark.svg');
        }
    }
    &--dark {
        border-color: transparent;
        color: $white;
        background-color: $primaryDark;
        &:not(.button--arrow):hover {
            background-color: #33647c;
        }
    }
    &--light {
        border-color: transparent;
        color: $primaryDark;
        background-color: $lightGreen;
        &:hover {
            background-color: #9bb065;
        }
    }
    &--noborder {
        border-color: transparent;
    }
}