.button-circle {
    position: relative;
    width: 70px;
    height: 70px;
    background: url("@img/icons/circle-button.png") center no-repeat;
    cursor: pointer;
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        transition: 0.3s;
    }
    &:hover:after {
        background-color: rgba(0, 0, 0, 0.1);
    }
}