.logo {
    display: flex;
    flex-wrap: nowrap;
    &__text {
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 0 10px;
    }
    &__image {
        width: 24px;
        height: 24px;
        img {
            max-width: 100%;
        }
    }
}