.footer {
    &__body {
        height: 125px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $md3) {
            height: auto;
            flex-direction: column;
            line-height: 20px;
            padding: 10px 0;
        }
    }
    &__copy {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #646667;
    }
    &__link {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #646667;
        display: inline-block;
        margin: 0 0 0 30px;
        @media (max-width: $md3) {
            margin: 0;
            padding: 0 10px;
        }
        &:first-child { margin: 0 }
        &:hover { text-decoration: underline }
    }
}